/* Catppuccin Colours */

/* https://github.com/catppuccin */

@define-color arch #1793d1;

@import "frappe.css";
@import "nord.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 19px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#custom-appmenu,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth {
  border-radius: 0;
}

#bluetooth.disabled {
  color: @lavender;
}

#bluetooth.connected {
  color: #5e81ac;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-appmenu {
  border-radius: 1rem 1rem 1rem 1rem;
  margin-left: 1rem;
  color: @arch;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
