@import "dracula.css";

* {
  font-family: MesloLGS NF;
  font-size: 16px;
  min-height: 0;
}

#custom-appmenu,
#custom-misc,
#custom-music,
#custom-system,
#disk,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#clock,
#bluetooth,
#network,
#tray {
  color: @foreground;
  background-color: @background;
  margin: 4.5px 0px;  
  padding: 0.5rem 1rem;
}

#backlight {
  color: @yellow;
}

#battery {
  color: @green;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#bluetooth {
  border-radius: 1rem 0px 0px 1rem;
}

#bluetooth.disabled {
  color: @red;
}

#bluetooth.connected {
  color: @cyan;
}

#clock {
  color: @foreground;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#cpu {
  color: @purple;
  padding: 0px;
}

#cpu.critical {
  color: @red;
}

#cpu.warning {
  color: @orange;
}

#custom-appmenu {
  border-radius: 1rem;
  color: @cyan;
  margin-left: 1rem;
}

#custom-music {
  border-radius: 1rem;
  color: @purple;
  margin-left: 1rem;
  margin-right: 1rem;
}

#custom-misc {
  background-color: @currentline;
  border-radius: 0px 1rem 1rem 0px;
}

#custom-system {
  background-color: @currentline;
  border-radius: 1rem 0px 0px 1rem;
}

#disk {
  color: @purple;
  padding: 5px;
}

#memory {
  color: @purple;
  padding: 5px;
}

#network.disabled {
  color: @red;
}

#network {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#network.disabled {
  color: @comment;
}

#network.diconnected {
  color: @comment;
}

#network.ethernet {
  color: @green;
}

#network.wifi {
  color: @green;
}

#pulseaudio {
  border-radius: 1rem 0px 0px 1rem;
  color: @purple;
}

#tray {
  border-radius: 1rem;
  margin-right: 1rem;
}

#waybar {
  background: @background;
  color: @background;
}

#workspaces {
  background-color: @background;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0px 1rem 0px 1rem
}

#workspaces button {
  border-radius: 1rem;  
  color: @purple;
}

#workspaces button.active {
  border-radius: 1rem;
  color: @cyan;
}

#workspaces button.urgent {
  border-radius: 1rem;
  color: @red;
}
